<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>

    <h3>Hello, Sinatra!</h3>
    <div>Welcome to project waterboy!</div>

    <div id="bluescore" class="score-box">
      <span class="score">
        <%= @match.goals_by("blue").count %>
      </span>
    </div>

    <div id="redscore" class="score-box">
      <span class="score">
        <%= @match.goals_by("red").count %>
      </span>
    </div>

    <div>
      <span>Match Started: </span>
      <span><%= @match.created_at %></span>
    </div>

    <div>
      <span>Total goals: </span>
      <span><%= @match.goals.count %></span>
    </div>

  </body>
</html>
