#bluescore {
  background: #4285F4;
}

#redscore {
  background: #DB4437;
}

.score-box {
  display: inline-block;
  height: 100px;
  text-align: center;
  color: #F2F2F2;
  font-size: 40pt;
}

.score {
  line-height: 100px;
  vertical-align: middle;
}

.userpic {
  padding: 10px;
}

.userpic img {
  height: 50px;
  width: 50px;
}
